*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
  
}
button{
    padding: 5px;
}
header{
    margin-bottom: 10px;
    color:black;
    font-size:36px;
    text-align: center;


}
.new-book-section{
    text-align: center;


}
li{
    display:list-item;
    text-align:center;
    list-style: none;
    border: solid black 6px;
    margin-top: 2px;
    margin-bottom:2px;
    
}
.description-input{
   margin-top:5px;
    height: 30px;
    width:400px;

}
label{
    font-size:20px;
    font-weight: bold;
}
select{
    border:2px black solid;
    height:30px;
}
input{
    border:2px black solid;
    height:30px;

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    justify-content: center;
  }
  .new-book-section{
      width:80%;
      justify-content: center;
  }
  .book-Title-Js{
      text-align:left;
  }
  .book-rating{
      text-align: right;
  }
  li{display:flexbox;
flex-direction: row;
}









.hide{
    display:none;
}

