*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    background-color:#7295af;
    color:white;
  
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#938e94;
    padding:10px;
    border-bottom:3px solid black;
    color: white;
}

.new-book-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left:auto;   
    width:80%;
    margin-top:15px;
}
button {
    position: relative;
    background-color: #557995;
    border: black solid 2px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  label{
      font-size: 24px;
      font-weight: bold;
  }
  input{
      font-size: 18px;
      font-weight: bold;
      width:100%;
      border-radius:3px;
      border: 1px solid black;

  }
  .select-rating{
      width:100%
  }
  #filter-rating-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .bookmark-container-section{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }
  li{
      list-style: none;
      border:black solid 2px;
      border-radius:6px;
      margin:5px;
  }
  .bookmarks{
      width: 90%;
  }
   .book-rating{
      font-size:24px;
      font-weight: bold;
      align-content: right;
  }
  .book-Title-Js{
      font-size:24px;
      font-weight: bold;
  }

  .book-description{
      font-size:20px;
      font-weight:bold;
  }
  .description-input{
      height:150px;
  }
  .title-rating{
      margin-top: 0;
      display: flex;    
      justify-content: space-between;
  }
  .fancy-title{
      margin-top:0;
  }

  #form-submit{
      display: flex;
      flex-direction: row;
      justify-content: center:
  }
  .hide{
      display:none;
  }

  a{
      color:white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
  }







